
<div class="flex justify-center items-center min-h-screen bg-gray-100 ">
  <div class="bg-white rounded-lg shadow-md p-4 w-96">
    <h1 class="text-2xl font-bold mb-4">Refer a Friend</h1>
    <p class="mb-4">Share your referral link with your friends:</p>
    
      <app-referral-code-button [referralCode]="dynamicReferralCode"></app-referral-code-button>
 
    <div class="mt-4 flex justify-center items-center">

      <!-- ngx-sharebuttons -->
      <!-- <share-buttons 
      [theme]="'circles-light'"
      [include]="['facebook','twitter','viber','messenger','whatsapp']"
      [show]="5"
      [url]="'https://dragonfi.ph/'"
      [autoSetMeta]="false"
      ></share-buttons> -->
      
      <!-- Web Share API -->
      <button 
        class="w-full bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded" 
        (click)="share()">
          Share
      </button>


    </div>
  </div>
</div>

